header{
    text-align: center;
    
}
label{
    text-decoration-color:red ;
}
u{
    color:red;
}
button{
    
    color: red;
}
h1{
    text-decoration: underline;
    color: red;
}
input{
    hover{
        color: blueviolet;

    }
}