*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
.container{
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
}
h1{
    margin-bottom: 20px;
}
#count{
    font-size: 70px;
    margin: 20px 0;
    color: #0d6efd;
}
.buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
}
button{
     padding: 12px 25px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-size: 18px;
     background: #0d6efd;
     color: white;
     transition: .3s;
}
button:hover{
    background: #084298;
}